@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

/* HTML AND CANVAS */
body {
  margin: 0;
  background-image: url("/docs/assets/images/starry-sky.gif");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #311b6b; */
  color: white;
  font-family: "VT323", monospace;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: 60px;
}

h2 {
  text-align: center;
  font-size: 40px;
}

h3 {
  text-align: center;
  font-size: 60px;
  text-transform: uppercase;
}

h4 {
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

h5 {
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  color: #dfcccc;
  font-style: italic;
}

header {
  background-color: #ffffff29;
  background-image: url("/docs/assets/images/starry-sky.gif");
}

#title {
  text-transform: uppercase;
  letter-spacing: 10px;
  opacity: 1;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #dfcccc;
}

main {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

ul {
  list-style-type: none;
  font-size: 25px;
  line-height: 1.5;
  margin-right: 30px;
}

#center-li {
  line-height: 1;
  text-align: center;
  font-size: 20px;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#piano-li {
  display: flex;
  align-items: center;
  justify-content: center;
}

#piano {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 350px;
  height: auto;
  border-radius: 1%;
  display: flex;
}

#canvas {
  background-image: url("/docs/assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}

#levels-info {
  border-top: 1px solid rgba(255, 255, 255, 0.495);
  border-bottom: 1px solid rgba(255, 255, 255, 0.495);
  background-color: #ffffff42;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #dfcccc;
}

.articles {
  width: 500px;
}

/* START SCREEN */
#start-screen {
  width: 950px;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/docs/assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#start-button,
img {
  width: 200px;
  height: 100px;
}

/* LEVELS SCREEN */
.each-level {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#levels-screen {
  width: 950px;
  height: 700px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/docs/assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#level-buttons {
  margin: 20px;
  display: flex;
  align-items: center;
}

/* BUTTON CLASSES*/

.buttons {
  background-color: transparent;
  border: none;
}

.buttons-img {
  width: 100px;
  height: 50px;
  background-color: transparent;
  border: none;
}

.div-buttons {
  display: flex;
  align-items: center;
}

/* LEVEL 1 */
#win-level1-screen {
  width: 950px;
  height: 700px;
  flex-direction: column;
  display: none;
  align-items: center;
  justify-content: center;
  background-image: url("/docs/assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#lose-level1-screen {
  width: 950px;
  height: 700px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/docs/assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* LEVEL 2 */
#lose-level2-screen {
  width: 950px;
  height: 700px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/docs/assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#win-level2-screen {
  width: 950px;
  height: 700px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/docs/assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* LEVEL 3 */
#lose-level3-screen {
  width: 950px;
  height: 700px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/docs/assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#win-level3-screen {
  width: 950px;
  height: 700px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/docs/assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* LEVEL 4 */
#lose-level4-screen {
  width: 950px;
  height: 700px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/docs/assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#win-level4-screen {
  width: 950px;
  height: 700px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/docs/assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
